$Libre-Franklin: "Libre Franklin", sans-serif;
$Blue: hsl(223, 87%, 63%);
$Pale-Blue: hsl(223, 100%, 88%);
$Light-Red: hsl(354, 100%, 66%);
$Gray: hsl(0, 0%, 59%);
$Very-Dark-Blue: hsl(209, 33%, 12%);


*, *::before, *::after {
    box-sizing: border-box;
}


* {
    margin: 0;
    padding: 0;
}
/* prevent iOS font size change */
html {
    -webkit-text-size-adjust: 100%;
}

body {
    text-align: center;
    font-family: $Libre-Franklin;
    color: $Very-Dark-Blue;
    min-height: 100vh;
    font-size: 20px;
    line-height: 1;
    text-rendering: optimizeSpeed;
}


input, button {
    width: 100%;
    border-radius: 100px;
    font-size: inherit;
    line-height: inherit;
}

img {
    width: 100%;
}

a {
    cursor: pointer;
    text-decoration: inherit;
}

button {
    color: white;
    text-align: inherit;
    font-size: 1rem;
    padding: 0.8rem;
    font-family: inherit;
    border: none;
    background-color: $Blue;
    cursor: pointer;
    box-shadow: 3px 3px 6px 3px $Pale-Blue;
}

button:hover {
    background-color: mix($Blue, white, 80%);
}

main {
    padding: 2rem;
}

/* form {
    margin: 2em auto;
} */

.logo-container {
    width: 4.5rem;
    margin: 5rem auto 2rem;
}

.info-container {
    margin: 2rem auto 2.5em;
    font-weight: 300;
}
.heading-paragraph{
    font-size: 1.35em;
    font-weight: 300;
    color: $Gray;
    strong {
        color: $Very-Dark-Blue;
        font-weight: 700;
    }
}

input {
    border: 1px solid $Pale-Blue;
   font-size: 16px;
    padding: 10px;
  /*  */
}

input::placeholder {
    font-weight: 300;
    padding: 0 1rem;
    font-size: 1rem;
    color:  $Pale-Blue;
}

form {
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
        margin-bottom: 1rem;
    }
}

.error {
    color: red;
    font-size: 11px;

}

.Subscribe-paragraph {
    font-size: 1rem;
    margin: 1.5em 1em;
}

.iluatration-container {
    margin: 4em auto;
}

footer {
    div {
        display: flex;
        justify-content: center;
        gap: 0.9rem;
        a {
            border: 1px solid $Pale-Blue;
            border-radius: 100%;
            padding: 8px;
            width: 1.8em;
            height: 1.8em;
        }
        a:hover {
            background-color: $Blue;
            img {
                filter: brightness(0) invert(1);
            }
        }
    }
    p {
        font-weight: 300;
        font-size: 12px;
        margin: 3em auto;
        color: $Gray;
    }

}


.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a  {
    color: hsl(228, 45%, 44%);
    font-style: italic;
    font-weight: 700;
}

@media (768px <= width) {
    .logo-container {
        width: 6rem;
        margin: 5rem auto 2rem;
    }
    
    .info-container {
        margin: 2rem auto 2.5em;
        font-weight: 300;

    } 
    .heading-paragraph{
        font-size: 2em;
        font-weight: 300;
       
        strong {
        
            
        }
    } 
    .Subscribe-paragraph {
        font-size: 1.3rem;
        margin: 1em auto;
    }
    form {
        width: 600px;
        margin: auto;
        display: flex;
        gap: 0.6em;
        align-items: center;
        div {
            width: 70%;
            margin: 0;
           input {
            margin: 0;
            padding: 12px; 
           }
        }
        button {
            padding: 1rem 0;
            width: 30%;
        }
    }
    .iluatration-container {
        width: 600px;
    }

}
    