$Libre-Franklin: "Libre Franklin", sans-serif;
$Blue: hsl(223, 87%, 63%);
$Pale-Blue: hsl(223, 100%, 88%);
$Light-Red: hsl(354, 100%, 66%);
$Gray: hsl(0, 0%, 59%);
$Very-Dark-Blue: hsl(209, 33%, 12%);


*, *::before, *::after {
    box-sizing: border-box;
}


* {
    margin: 0;
    padding: 0;
}
/* prevent iOS font size change */
html {
    -webkit-text-size-adjust: 100%;
}

body {
    text-align: center;
    font-family: $Libre-Franklin;
    color: $Very-Dark-Blue;
    min-height: 100vh;
    font-size: 20px;
    line-height: 1;
    text-rendering: optimizeSpeed;
}


input, button {
    font-size: inherit;
    line-height: inherit;
}

img {
    width: 100%;
}

a {
    cursor: pointer;
    text-decoration: inherit;
}

button {
    text-align: inherit;
    font: inherit;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

main {
    padding: 2rem;
}

.logo-container {
    width: 4.5rem;
    margin: 5rem auto 2rem;
}

.info-container {
    margin: 2rem auto;
    font-weight: 300;
}
.heading-paragraph{
    font-size: 1.35em;
    font-weight: 300;
    color: $Gray;
    strong {
        color: $Very-Dark-Blue;
        font-weight: 700;
    }
}

input {
    border: 1px solid $Pale-Blue;
    border-radius: 100px;
  /*  */
}

input::placeholder {
    font-size: 1rem;
}

.Subscribe-paragraph {
    font-size: 1rem;
    margin: 1.5em 1em;
}

footer {
    div {
        display: flex;
        justify-content: center;
        gap: 0.9rem;
        a {
            border: 1px solid $Pale-Blue;
            border-radius: 100%;
            padding: 8px;
            width: 1.8em;
            height: 1.8em;
        }
    }
    p {
        font-weight: 300;
        font-size: 12px;
        margin: 3em auto;
        color: $Gray;
    }
    
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a  {
    color: hsl(228, 45%, 44%);

}
    